# Data Sience Tools and Ecosystem

## In this notebook, Data Sience Tools and Ecosystem are summarized.

## **Objectives**
- List popular languages for Data Sciences.
- List commonly Libraries used by Data Scientits.
- Create cells with arithmetic expressions(multiply, add and diving).

### Some of the popular languages that Data Siences use are:

1. Python
2. R
3. SQL
4. C++
5. Julia

### Some of commonly used libraries used by Data Scientits include:

1. Pandas
2. NumPy
3. TensorFlow
4. Apache Spark
5. ggplot2

| Data Scienes Tool |
|-------------------|
| MySQL |
| MongoDB |
|Apache Casandra |
 | Hadoop |

### Below are few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to multiply then and integers
(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
# Daniel Conde